<p>Dear @Model.DisplayName;</p>
<p>Thank you for signing up in <a href="http://www.allemni.net">3allemni.net</a> website.</p>
<p>Please Click this link or copy and past in browser window to activate your account.</p>
<p><a href="http://www.3allemni.net/account/activate/@(Model.ActivateCode)">http://www.3allemni.net/account/activate/@(Model.ActivateCode)</a></p>