@model List<Entities.Material>

@foreach (Entities.Material material in Model)
{
    <li data-id="@material.MaterialId">
        <span class="name">@material.MaterialName</span>
        <span class="graybox">@material.Trainer.DisplayName</span><br />
        <div class="buttons">
            <a class="edit" href="~/admin/tutorials/editTutorial" data-extender="opendialog" data-dialog=".tutorialdialog" data-getservice="@Url.Content("~/admin/tutorials/gettutorial")" data-closetarget="li">Edit Tutorial</a>
            <a class="delete" href="~/admin/tutorials/deleteTutorial" data-extender="postdata" data-closetarget="li" data-confirmmsg="Are you sure you want to delete this Tutorial?">Delete Tutorial</a>
        </div>
    </li>

}