<p>Dear @Model.DisplayName;</p>
<p>The password for your account in <a href="http://www.allemni.net">3allemni.net</a> website has been reset. To confirm please activate your account and login using the new password></p>
<p>To activate your account please click this link or copy and past in browser window to activate your account.</p>
<p><a href="http://www.3allemni.net/account/activate/@(Model.ActivateCode)">http://www.3allemni.net/account/activate/@(Model.ActivateCode)</a></p>
<p>If you are not the one who reset your password please click this link or copy and past in browser window to activate your account.</p>
<p><a href="http://www.3allemni.net/account/reset/@(Model.Email)">http://www.3allemni.net/account/activate/@(Model.ActivateCode)</a></p></p>