@using System.Text.RegularExpressions
@{
    ViewBag.Title = "Home Page";
}

@{ 
    List<Entities.Material> tutorials = ViewBag.Tutorials as List<Entities.Material>;
}
<img id="banner"  src="~/imgs/homebanner.jpg" alt="" />
<section id="home-articles" class="row">
    @foreach (Entities.Material tutorial in tutorials)
    {
        string description = "";
        Match m = Regex.Match(tutorial.Description, @"<p>\s*(.+?)\s*</p>");
        if (m.Success)
        {
            description = m.Groups[1].Value;
        }
    <article class="col-md-4">
        <img src="~/imgs/thump.jpg" />
        <h2>@tutorial.MaterialName</h2>
        <p>@Html.Raw(description)</p>
        <div class="more">
            <a href="@tutorial.Link">More<i class="fa fa-angle-double-right"></i></a>
        </div>
    </article>
    }
</section>
