@{
    ViewBag.Title = "Home Page";
}

<img id="banner"  src="/imgs/homebanner.jpg" alt="" />
<section id="home-articles" class="row">
    <article class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent efficitur id ipsum ac laoreet. Proin efficitur sodales nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus et scelerisque nisl, quis fringilla risus.</p>
        <div class="more">
            <a href="article.html">More&gt;&gt;</a>
        </div>
    </article>
    <article class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent efficitur id ipsum ac laoreet. Proin efficitur sodales nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus et scelerisque nisl, quis fringilla risus.</p>
        <div class="more">
            <a href="article.html">More&gt;&gt;</a>
        </div>
    </article>
    <article class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent efficitur id ipsum ac laoreet. Proin efficitur sodales nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus et scelerisque nisl, quis fringilla risus.</p>
        <div class="more">
            <a href="article.html">More&gt;&gt;</a>
        </div>
    </article>
</section>
